.fa-person {
	margin-top: 0.2em;
	font-size: 35px;
}

.icons {
	margin-left: 3.9em;
	font-size: 15px;
}

.icons span {
	font-size: 13px;
	margin-left: 0.5em;
	margin-right: 0.3em;
}

.post {
	padding-left: 2em;
	padding-right: 1em;
	padding-top: 10px;
	background-color: azure;
}

.break hr {
	width: 0;
}
